extends layout 

block content 
    .container.d-flex.flex-grow-1.justify-content-center
        .my-auto.text-center
            i.fas.fa-wrench.fa-10x.mb-3
            h1.my-3 This page is currently under construction.
            h2 Thank you for your patience.